header {
    background-color: #0E0423;
}

.headerContainer {
    padding: 30px;
    max-width: 500px;
    margin: 0 auto;
}

.logo {
    width: 200px;
}

.divFoto {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fotoPerfil {
    max-width: 100px;
    border-radius: 150px;
    border: solid 3px #F2C94C;
}

.containerGeral {
    max-width: 1000px;
    margin: 0px auto;
    /* box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15); */
    border-radius: 8px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
}

.box p {
    max-width: 500px;
    color: #3a3a3a;
    padding-top: 10px;
    padding-top: 10px;
}


h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    color: #BB6BD9;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    color: #BB6BD9;
}

p {
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #0E0423;
    padding: 20px 0;
}

.footerContainer {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    color: white;
    padding: 0 30px;
}

.footerSide {
    margin: 10px 0;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* background-color: #F2C94C; */
    align-items: flex-start;
}

.iconeFooter {
    /* background-color: #BB6BD9; */
    width: 40px;
    padding: 5px;
}

.footerText {
    font-size: small;
    padding: 5px;
}