/* 
- #9B51E0 (roxo)
- #F2C94C (amarelo)
- #2F80ED (azul)
- #27AE60 (verde)
*/
*{
  box-sizing: border-box;
}

  .containerGeral {
    max-width: 600px;
    width: 95%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  #containerTitulo{
    padding-top: 20px;
    width: 60%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

  #tituloPrincipal{
    font-family: 'cabin', sans-serif;
    font-weight:lighter;
    color: #606060;
    font-size: 1.8em;
    line-height: 0.65;
  } 
  
  #festa{
    color: #9B51E0; 
    font-family: 'Great Vibes', cursive, sans-serif; 
    font-size: 2em; 
    font-weight: 900;
    font-size: 2.5em;
    line-height: 0.65;
  }

  .apiForm{
    padding-top: 20px;
    padding-top: 55px;
  }


  form{
    padding-top: 25px;
    box-sizing: border-box;
  }

  body {
    text-decoration: none;
    background-color: #f1f1f1;
  }
  
  h1 {
    font-family: 'roboto', cursive; 
    text-align: center;
    text-decoration: none;
    color: #606060;
    line-height: 0.9;
  }
  
  .form-group {
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .form-group input[type="text"]::placeholder {
    color: #b1b1b1;
    font-family: 'Sono', sans-serif;
  }

  .form-group input[type="text"]:focus::placeholder {
    color: transparent;
  }

  .form-group label {
    pointer-events: none;
    transition: transform 0.2s, font-size 0.2s, color 0.2s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #999;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 15px;
    border:none;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 4em;
    font-family: 'Sono', sans-serif;
  }

  input[type="text"]:focus {
    outline:none;
    box-shadow: 0px 0px 4px rgba(20, 67, 39, 0.15);
  }

  button {
    padding-bottom: 10px;
    height: 4em;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #9B51E0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:0.3;
  }

  button:hover{
    background-color: #F2C94C;
  }

  .response {
    margin-top: 15px;
    padding: 15px;
    color: #7e7e7e;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: 'sono', sans-serif;
    text-decoration: none;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    transition: 0.5s;
  }

  /* Clockdown */

/*   body {
    font-family: righteous, sans-serif;
    font-size: ;
    background-color: #ffffff;
    color: #2F80ED;
    text-align: center;
  } */
  
  .countdown-container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    font-family: righteous, sans-serif;
    color: #2F80ED;
  }
  .countdown-container div{
    padding: 0;
  }
  
  .countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2C94C;
  }
  
  .timer-item {
    margin: 0 10px;
    box-sizing: border-box;
  }
  
  .timer-value {
    font-size: 1em;
    font-weight: bold;
  }
  
  #timer-label {
    font-size: 1em;
    background-color: aqua;
  }
  
  @media (max-width: 600px) {
    .countdown-timer {
      display: flex;
      margin: 0 auto;
      width: 60%;
      font-size: 1em;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    
    .timer-item {
      margin: 5px 0;
    }
    .timer-lable{
      display: none;
    }
  }
  