 
 /* #9B51E0 (roxo) */
 /* #F2C94C (amarelo) */
 /* #2F80ED (azul) */
 /* #27AE60 (verde) */

   /* font-family: righteous, sans-serif;  */
   /* font-family: 'Cabin', sans-serif;  */
   /* font-family: 'Lilita One', cursive; */

* {
  box-sizing: border-box;
}

body {
  text-decoration: none;
  background-color: #f1f1f1;
}

.faixaContainerBox{
  background-color: #f1f1f1;
  padding: 15px 0;
}

.containerBox {
  max-width: 600px;
  width: 95%;
  margin: 15px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.headerContainer {
  padding: 20px 30px;
  max-width: 500px;
  margin: 0 auto;
}

#containerTitulo {
  padding-bottom: 0;
  width: 60%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

#tituloPrincipal {
  font-family: "Cabin&family=Monomaniac+One&", sans-serif;
  font-weight:bolder;
  color: #606060;
  font-size: 1.5em;
  line-height: 0.95;
}

#festa {
  color: #9b51e0;
  font-family: "Great Vibes", cursive, sans-serif;
  font-size: 2em;
  font-weight: 900;
  font-size: 2.5em;
  line-height: 0.65;
}

#apiForm {
  padding: 10px 0;
  box-sizing: border-box;
}



h1 {
  font-family: "roboto", cursive;
  text-align: center;
  text-decoration: none;
  color: #606060;
  line-height: 0.9;
  padding: 15px 0;
}

h2{
  font-family: "roboto", cursive;
  text-decoration: none;
  line-height: 0.9;
}

.form-group {
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form-group input[type="text"]::placeholder {
  color: #b1b1b1;
  font-family: "Sono", sans-serif;
}

.form-group input[type="text"]:focus::placeholder {
  color: transparent;
}

.form-group label {
  pointer-events: none;
  transition: transform 0.2s, font-size 0.2s, color 0.2s;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #999;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  border: none;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  height: 4em;
  font-family: "Sono", sans-serif;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 0px 4px rgba(20, 67, 39, 0.15);
}

button {
  padding-bottom: 10px;
  height: 4em;
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 10px;
  background-color: #9b51e0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:ease-in-out 0.3;
  font-family: "Sono", sans-serif;

}

button:hover {
  background-color: #f2c94c;
  transition:ease-in-out 0.3;
}

.response{
  padding: 10px 20px;
  font-size: 1.5em;
  color: #7e7e7e;
  border: none;
  background-color: transparent;
  /* font-family: "sono", sans-serif; */
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
}

.list {
  margin-top: 15px;
  padding: 15px;
  color: #7e7e7e;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family: "sono", sans-serif;
  text-decoration: none;
  opacity: 1;
  box-sizing: content-box;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  transition-property: all;
}

.userList{
  transition-property: all;
  transition-duration: 0.5s;
}

/* Clockdown */

/*   body {
    font-family: righteous, sans-serif;
    font-size: ;
    background-color: #ffffff;
    color: #2F80ED;
    text-align: center;
  } */

.countdown-container {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Monomaniac One", sans-serif;
  color: #2f80ed;
}
.countdown-container div {
  padding-top: 0;
}

#data-niver{
  margin-top: 20px;
  margin-bottom: 2px;
  padding: 0;
  font-size: 1.5em;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #27AE60;
}

.timer-item {
  margin: 0 5px;
  box-sizing: border-box;
  font-size: 3em;
  line-height: 0.9;
}

.timer-value {
  font-size: 1em;
  font-weight: bold;
}

#timer-label {
  font-size: 1em;
  background-color: aqua;
}

.floatingWhats {
  width: 50px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  opacity: 100%;
  transition: 0.3s all;
  z-index: 12;
}

/* ÍCONE + TEXTO */
.iconeWhats {
  width: 60px;
}

.iconMessageBox{
  padding: 15px 0;
}

.iconMessageItems{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.iconMessageIcon img{
  width: 33px;
  margin-right: 15px;
}

.iconMessageText{
  color: #9b9b9b;
  font-size: 0.8em;
  max-width: 150px;
  line-height: 0.95;
  font-family: "Sono", sans-serif;
  font-weight: lighter;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.addressContainer{
  background-color: #0E0423;

}
.addressBox{
  max-width: 600px;
  background-color: #0E0423;
  padding: 20px 0;
  margin: 0 auto;
}

.addressTittleItems{
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

div.addressTittleText{
  color: white;
  width: 90%;
  margin: 15px auto;
  font-family: "Sono", sans-serif;
}

.addressTittleText p{
  margin-top: 8px;
}

img#iconeMapa{
  width: 30px;
  margin-right: 20px;
}

.addressEmbed{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mapEmbed{
  border-radius: 5px;
  box-sizing: border-box;
  width: 90%;
}

@media (max-width: 600px) {
  .countdown-timer {
    margin: 5px auto;
    width: 60%;
    font-size: 1em;
    flex-wrap: wrap;
  }

  .timer-item {
    margin: 2px 0;
    padding: 0 3px;
    font-size: 2em;
  }
  .timer-lable {
    display: none;
  }
}
